.title {
    font-size: 300%;
    font-family: cursive;
    text-align: center;
    padding: 10%;
    z-index:2;
 
}
 
.video {
    z-index: 1;
    position: absolute;
    margin-top: -40%;
}

.lowerpart {
    text-align:center;
    border-top: solid;
    
     
}

.leftside {

    
    display: inline-grid;

    text-align: center;
    width:30%;
 
    



}

.rightside {
    display: inline-grid;

    
     text-align: center;
    width:30%;
 
 

 


}

 



/* Centered text */
 