.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.item1 {
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    background-color: darkgray;
    border-radius: 10px;
}

.item2 {
    padding: 20px;
    text-align: center;
    margin-top: 80px;
}

.item3 {
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    background-color: darkgray;
    border-radius: 10px;
}